.card-categories {
  display: flex;
  flex-direction: column;
  /* Вертикальное расположение внутри карточки */
  align-items: center;
  /* Центрирование содержимого по горизонтали */
  gap: 20px;
  /* Расстояние между картинкой и текстом */
  width: 316px;
  /* Фиксированная ширина карточки */
}

.card-categories__img {
  border-radius: 12px;
  width: 316px;
  height: 350px;
}

.card-categories__paragraph {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: black;
  margin: 0;
}